body{
  background-image: url("images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  color: white;
  padding-top: 1.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.logo{
  max-width: 8.25rem;
  padding-bottom: 3.5rem;
}

.picture{
  max-width: 18.75rem;
}

.picture-container{
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.main-content{
  display: grid;
  gap: 1rem;
}

.comment{
  text-align: center;
  font-family: Poppins;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.description{
  text-align: center;
  font-family: open sans;
  font-weight: 400;
  font-size: 1.063rem;
  line-height: 1.625rem;
}

.button{
  width: 14rem;
  justify-self: center;
  background-color: white;
  color: hsl(257, 40%, 49%);
  font-family: poppins;
  font-size: .875rem;
  border: none;
  padding: .75rem;
  border-radius: 6rem;
  box-shadow: 3px 3px 3px rgba(0,0,0,.25);
  cursor: pointer;
}

.button:hover{
  background-color: hsl(300, 69%, 71%);
  color: white;
  transition: .2s;
}

.icon-container{
  display: flex;
  justify-content: space-evenly;
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

i{
  height: 1rem;
  width: 1rem;
  padding: .5rem;
  border-radius: 2rem;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  cursor: pointer;
}

i:hover{
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
  transition: .2s;
}

@media (min-width: 376px){
  body{
    background-image: url("images/bg-desktop.svg");
  }

  .picture{
    max-width: 22rem;
  }
}

@media (min-width: 769px){
  .description{
    max-width: 45rem;
    justify-self: center;
  }
}

@media (min-width: 1025px){
  body{
    padding: 3rem 2rem;
  }

  main{
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
  }

  .logo{
    max-width: 12rem;
    margin-bottom: 1.75rem;
    margin-left: 1.5rem;
  }

  .picture-container{
    padding-bottom: 0;
  }

  .picture{
    object-fit: contain;
    max-width: 100%;
  }

  .main-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 1rem;
  }

  .comment{
    text-align: left;
    font-size: 2.5rem;
  }

  .description{
    text-align: left;
    font-size: 1.063rem;
    padding-right: 3rem;
  }

  .button{
    width: 10rem;
    font-size: 1rem;
  }

  .icon-container{
    margin:auto;
    margin-right: 4rem;
    margin-top: 1.5rem;
  }
}